<header class="article__lede">
	<h1 class="h1__sans article__title-h">{{copy.title}}</h1>
	<p class="h2__sans article__sub-h"></p>
	<p class="article__date"><strong class="date--title">Date: </strong>Enter Date Here</p>
</header>

<div class="article__body ">
	{{meta.description}}
</div>

<p>{{copy.p1}}</p>
<p>{{copy.p2}}</p>
<p>{{copy.p3}}</p>
<p>{{copy.p4}}</p>
<p>{{copy.p5}}</p>

<!-- <p>{{copy.text}}</p> -->